<div class="swiper-wrapper">
  {{yield (hash slide=(component "swiper-slide"))}}
</div>

{{#if pagination}}
  <div class="swiper-pagination"></div>
{{/if}}

{{#if navigation}}
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
{{/if}}
