<ul class="swiper-wrapper">
  {{yield (hash slide=(component "swiper-slide"))}}
</ul>

{{#if hasPagination}}
  <div class="swiper-pagination"></div>
{{/if}}

{{#if hasNavigation}}
  <div class="{{nextElClass}}"></div>
  <div class="{{prevElClass}}"></div>
{{/if}}
